<!-- initializing count variable (to be used in displaying the posts in two different colors) -->
<% @count = 0 %>
<!-- checking if there are any posts do display -->
<% if @posts.any? %>
<!-- displaying the title 'here are some recent posts' -->	
	<div class='bold'>Here are some recent posts:</div>
	<br/>
	<br/>
	<tbody>
		<tr>
		<td class= 'bold larger'>sort by</td>
		&nbsp;
		<td><%= link_to 'shuffle posts', @cat+'?sort=shuffle'%></td> 
		&nbsp;
		<td><%= link_to 'rank', @cat+'?sort=rating'%></td>
		&nbsp;
		<td><%= link_to 'creation time', @cat+'?sort=created_at'%></td>
		</tr>
	</tbody>
	<br/>
	<br/>

	<div id="comments">	
		<% @posts.first(15).each do |post| %>

				<ul class="commentlist">
					<% if @count.even? %>
							<li class = "comment_even">

							<%= link_to post.body, post_path(post) %>
							<%= post.rating %>
							<% if post.user == current_user %>
								<%= link_to 'Delete', "/posts/#{post.id}", method: :delete, class: 'delete' %>
							<% end %>
						<br>
						<span class="italic small">created on <%= post.created_at.strftime("%l:%M%p %d %b %Y") %> by <%= post.user.handle %></span>
						</li>

					<% else %>
						<li class = "comment_odd">
						<%= link_to post.body, post_path(post) %>
						<%= post.rating %>
						<% if post.user == current_user %>
							<%= link_to 'Delete', "/posts/#{post.id}", method: :delete, class: 'delete' %>
						<% end %>
						<br>
						<span class="italic small">created on <%= post.created_at.strftime("%l:%M%p %d %b %Y") %> by <%= post.user.handle %></span>
						</li>
					<% end %>
				</ul>
			<% @count = @count + 1 %>
		<% end %>
	</div>

<% else %>
	<div class='bold'>No posts to display!</div>
<% end %>




